{% extends 'base.html' %}
{% block title %} 인덱스 {% endblock %}
{% block content %}

<h1>인덱스 화면</h1>
<!-- <ul>
    <li><a href="{% url 'posts:post_list' %}">게시글 목록</a></li>
    <li><a href="{% url 'support:faq_list' %}">FAQ</a></li>
</ul> -->
<main>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="card-list">
        <div class="card">
            {% for todo in todo_list %}
                {% include 'mixin/posts/post_card.html'%}
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}